/* ___________________________________________________________________ *
 * Queries Baseadas em Resolucoes landscape | HD | FULL-HD | 2K | 4K | *
 * ------------------------------------------------------------------- */

 /* Media Querie Televisores HD  */
 @media screen and (min-width: 1024px) and (max-height: 720px) and (orientation:landscape) {
	.default {
		background-color: gray;
		color: white
	}

	.font-parada-producao {
		font-size: 1.5rem;
	}
	
	.font-parada-date {
		font-size: 1.5rem;
	}
	
	.font-cronometro {
		font-size: 6.5rem;
	}
	
	.text-vieli {
		font-family: Arial, Helvetica, sans-serif;
	}
	
	.font-title-telao {
		font-size: 3rem;
	}

	.font-time-telao {
		font-size: 2rem;
		position: relative;
		top: 1rem;
	}
	
	.font-indicador-producao {
		font-size: 10rem;
	}
	
	.font-um-producao {
		font-size: 3rem;
	}
	
	.font-ritmo-producao {
		font-size: 1.4rem;
	}
	
	.font-indicadores {
		font-size: 3.3rem;
	}
	
	.font-header-card {
		font-size: 1.6rem;
		font-weight: 600;
		line-height: 1.2;
	}
	
	.logo {
		height: 5rem;
	}
}

 /* Media Querie Televisores FULL-HD  */
 @media screen and (min-width: 1920px) and (min-height: 1080px) and (orientation:landscape) {
	.default {
		background-color: gray;
		color: white
	}

	.font-parada-producao {
		font-size: 2rem;
	}
	
	.font-parada-date {
		font-size: 2rem;
	}
	
	.font-cronometro {
		font-size: 6.5rem;
	}

	.font-parada-producao {
		font-size: 2rem;
	}
	
	.font-parada-date {
		font-size: 2rem;
	}
	
	.font-cronometro {
		font-size: 12rem;
	}
	
	.text-vieli {
		font-family: Arial, Helvetica, sans-serif;
	}
	
	.font-title-telao {
		font-size: 5rem;
	}

	.font-time-telao {
		font-size: 3rem;
		position: relative;
		top: 1.5rem;
	}
	
	.font-indicador-producao {
		font-size: 16rem;
	}
	
	.font-um-producao {
		font-size: 4.5rem;
	}
	
	.font-ritmo-producao {
		font-size: 3rem;
	}
	
	.font-indicadores {
		font-size: 6rem;
	}
	
	.font-header-card {
		font-size: 2.5rem;
		font-weight: 600;
		line-height: 1.2;
	}
	
	.logo {
		height: 5rem;
	}
}

 /* Media Querie Televisores 2K */
 @media screen and (max-width: 2048px) and (min-height: 1080px) and (orientation:landscape) {
	.default {
		background-color: gray;
		color: white
	}
	
	.font-parada-producao {
		font-size: 1.5rem;
	}
	
	.font-parada-date {
		font-size: 1.5rem;
	}
	
	.font-cronometro {
		font-size: 6.5rem;
	}

	.text-vieli {
		font-family: Arial, Helvetica, sans-serif;
	}
	
	.font-title-telao {
		font-size: 5rem;
	}

	.font-time-telao {
		font-size: 3rem;
		position: relative;
		top: 1.5rem;
	}
	
	.font-indicador-producao {
		font-size: 16rem;
	}
	
	.font-um-producao {
		font-size: 4.5rem;
	}
	
	.font-ritmo-producao {
		font-size: 3rem;
	}
	
	.font-indicadores {
		font-size: 6rem;
	}
	
	.font-header-card {
		font-size: 2.5rem;
		font-weight: 600;
		line-height: 1.2;
	}
	
	.logo {
		height: 5rem;
	}
}

 /* Media Querie Televisores 4K */
 @media screen and (max-width: 3840px) and (min-height: 2160px) and (orientation:landscape) {
	.default {
		background-color: gray;
		color: white
	}
		
	.font-parada-producao {
		font-size: 6rem;
	}
	
	.font-parada-date {
		font-size: 6rem;
	}
	
	.font-cronometro {
		font-size: 22rem;
	}
	
	.text-vieli {
		font-family: Arial, Helvetica, sans-serif;
	}
	
	.font-title-telao {
		font-size: 9rem;
	}

	.font-time-telao {
		font-size: 6rem;
		position: relative;
		top: 2.5rem;
	}
	
	.font-indicador-producao {
		font-size: 30rem;
	}
	
	.font-um-producao {
		font-size: 12rem;
	}
	
	.font-ritmo-producao {
		font-size: 7rem;
	}
	
	.font-indicadores {
		font-size: 15rem;
	}
	
	.font-header-card {
		font-size: 6rem;
		font-weight: 600;
		line-height: 1.2;
	}
	
	.logo {
		height: 10rem;
	}
}

@media screen and (min-width: 768px) and (min-height: 480px) {
	.default {
		background-color: gray;
		color: white
	}

	.font-parada-producao {
		font-size: 1.5rem;
	}
	
	.font-parada-date {
		font-size: 1.5rem;
	}
	
	.font-cronometro {
		font-size: 5rem;
	}
	
	.text-vieli {
		font-family: Arial, Helvetica, sans-serif;
	}
	
	.font-title-telao {
		font-size: 2rem;
	}

	.font-time-telao {
		font-size: 1.5rem;
		top: 0.5rem;
	}
	
	.font-indicador-producao {
		font-size: 8rem;
	}
	
	.font-um-producao {
		font-size: 2rem;
	}
	
	.font-ritmo-producao {
		font-size: 1rem;
	}
	
	.font-indicadores {
		font-size: 2.5rem;
	}
	
	.font-header-card {
		font-size: 1.1rem;
		font-weight: 600;
		line-height: 1.2;
	}
	
	.logo {
		height: 2rem;
	}
}

@media screen and (min-width: 1800px) and (min-height: 900px) {
	.default {
		background-color: gray;
		color: white
	}

	.font-parada-producao {
		font-size: 3rem;
	}
	
	.font-parada-date {
		font-size: 3rem;
	}
	
	.font-cronometro {
		font-size: 12rem;
	}
	
	.text-vieli {
		font-family: Arial, Helvetica, sans-serif;
	}
	
	.font-title-telao {
		font-size: 3.5rem;
	}

	.font-time-telao {
		font-size: 2.5rem;
		top: 0.5rem;
	}
	
	.font-indicador-producao {
		font-size: 14.5rem;
	}
	
	.font-um-producao {
		font-size: 5rem;
	}
	
	.font-ritmo-producao {
		font-size: 3rem;
	}
	
	.font-indicadores {
		font-size: 5.5rem;
	}
	
	.font-header-card {
		font-size: 2.1rem;
		font-weight: 600;
		line-height: 1.2;
	}
	
	.logo {
		height: 3rem;
	}
}