/* Large devices (laptops/desktops, 768px and up) */
@media only screen and (min-width: 768px) {
	.sub-title {
		font-size: 2pc !important;
	}

	.tamanho-font {
		font-size: 3.42pc !important;
	}

	.font-producao {
		font-size: 15pc !important;
	}

	.font-meta {
		font-size: 6pc !important;
	}

	.font-indicadores {
		font-size: 5pc !important;
	}

	.font-title {
		font-size: 3pc !important;
	}

	.font-status {
		font-size: 2pc !important;
	}

	.font-um-producao {
		font-size: 4pc;
	}

	.cronometro {
		font-size: 13pc;
		color: #000000;
		display: inline-block;
	}

	.logo {
		display: flex;
		align-items: center;
		height: 5pc;
		margin: 0.25rem;
	}
}