/* Medium devices */
@media only screen and (min-width: 481px) and (max-width: 768px) {
	.sub-title {
		font-size: 0.9pc !important;
	}

	.tamanho-font {
		font-size: 0.79pc !important;
	}

	.font-producao {
		font-size: 6pc !important;
	}

	.font-meta {
		font-size: 2pc !important;
	}

	.font-indicadores {
		font-size: 2pc !important;
	}

	.font-title {
		font-size: 1.5pc !important;
	}

	.font-status {
		font-size: 1pc !important;
	}

	.font-um-producao {
		font-size: 1pc;
	}

	.cronometro {
		font-size: 5pc;
		color: #000000;
		display: inline-block;
	}

	.logo {
		display: flex;
		align-items: center;
		height: 3pc;
		margin: 0.25rem;
	}
}