/* Extra small devices (phones, 480px and down) */
@media only screen and (max-width: 480px) {
	.sub-title {
		font-size: 2pc !important;
	}

	.tamanho-font {
		font-size: 2.5pc !important;
	}

	.font-producao {
		font-size: 6pc !important;
	}

	.font-meta {
		font-size: 4pc !important;
	}

	.font-indicadores {
		font-size: 4pc !important;
	}

	.font-title {
		font-size: 1.5pc !important;
	}

	.font-status {
		font-size: 2pc !important;
	}

	.font-um-producao {
		font-size: 1pc;
	}

	.cronometro {
		font-size: 3pc;
		color: #000000;
		display: inline-block;
	}

	.logo {
		display: flex;
		align-items: center;
		height: 6pc;
		margin: 0.25rem;
	}
}