@import url(small.css);
@import url(medium.css);
@import url(large.css);
@import url(television.css);

html,
body {
	margin: 0;
	padding: 0;
}

.container {
	width: 100% !important;
	max-width: inherit !important;
}

.color-text {
	color: white;
}

.font-vieli {
	font-family: Arial, Helvetica, sans-serif;
}

.borda {
	padding: 0px !important;
}
	
	.margem {
		margin: 0.05rem !important;
	}

	.alinha-text {
		display: flex;
		align-items: center;
	}

.verde {
	background-color: green;
	color: white;
}

.amarelo {
	background-color: yellow;
	color: black;
}

.vermelho {
	background-color: red;
	color: white
}