html,
body {
	margin: 0;
	padding: 0;
}

.container {
	width: 100% !important;
	max-width: inherit !important;
}

.color-text {
	color: white;
}

.font-vieli {
	font-family: Arial, Helvetica, sans-serif;
}

.borda {
	padding: 0px !important;
}
	
	.margem {
		margin: 0.05rem !important;
	}

	.alinha-text {
		display: flex;
		align-items: center;
	}
	.logo {
		 display: flex;
		 align-items: center;
		 height: 5.5pc;
		 margin: 0.25rem;
	}

@media (min-width: 1368px) {
	.sub-title {
		font-size: 3pc !important;
	}

	.tamanho-font {
		font-size: 4.75pc !important;
	}

	.font-producao {
		font-size: 20pc !important;
	}

	.font-meta {
		font-size: 8pc !important;
	}

	.font-indicadores {
		font-size: 5pc !important;
	}

	.font-title {
		font-size: 5pc !important;
	}

	.font-status {
		font-size: 4pc !important;
	}

	.cronometro {
		font-size: 16pc;
		color: #000000;
		display: inline-block;
	}
}